@import 'styles/variables';
@import 'styles/breakpoints';


.home {
  padding: 50px $padding-horizontal;

  @media (max-width: $desktop_xsm) {
    padding: 50px $padding-horizontal-mobile;
  }

  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 50px $padding-horizontal-sm;
  }

  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 50px $padding-horizontal-md;
  }

  &__title {
    color: $dark;
    font-size: 3rem;
    margin-bottom: 30px;
  }

  &__filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}

.title {
  color: $dark;
  font-size: 3rem;
  margin-bottom: 30px;
}

.recommended {
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.recommended {
  &__image {
    width: 300px;
    margin-bottom: 10px;

    img {
      border-radius: 8px;
      width: 100%;
    }
  }

  &__button {
    background-color: $red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
    transition: .2s ease;
    width: 100%;

    &:hover {
      background-color: $red-dark;
    }
  }
}

.myHome {
  margin-bottom: 100px;
  position: relative;
  width: 100%;

  img {
    border-radius: 5px;
    width: 100%;
  }

  &__address {
    align-items: center;
    background-color: $dark;
    border-radius: 5px;
    bottom: -45px;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 100px;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 200px;
  }
}