@import "styles/variables";


.footer {
    background: #d73b3b;
    color: white;
    display: grid;
    padding: 0px $padding-horizontal;    
    grid-template-columns: 20% 50% 30%;

    &__ul {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        list-style: none;
    }

    &__ul__li {
        display: list-item;
    }

    &__ul__li__a {
        text-decoration: none;
        color: #FFF;
        line-height: 2.17;
        display: block;
    }
}

.footer-company{
    display: grid;
    align-self: flex-start;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.social {
    padding: 20px; 
}

.logo{
    align-items: flex-end;
}