@import 'styles/variables';
@import 'styles/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0px;
  padding: 0px $padding-horizontal;
}
.goBack {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  button {
    background-color: transparent;
    border: none;
    color: $red;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.image {
  height: 300px;
}